@font-face {
  font-family: Roboto-regular;
  src: url("./assets/Roboto/Roboto-Regular.ttf");
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

:root {
  --main-background-color: rgba(42, 42, 46, 1);
  --left-pan-color: #264653;
  --right-pan-color: #ffffff;
  --right-pan-address-color: #797676;
  --font-color-left-pannel: white;
  --pp-shadow: 0px 0px 20px 4px #0000009f;
  --select-color: #6c757d7a;
  --text-shadow: 4px 2px 2px rgba(153, 153, 153, 0.5);
}

@keyframes fade-in {
  0% {
    opacity: 0.01; /* needed to avoid lighthouse bug */
  }
  1% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* html {
  overflow-x: hidden;
} */

body {
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--main-background-color);
  font-family: "Roboto-regular", sans-serif;
  justify-content: center;
  opacity: 1;
  min-height: 100vh;

  /* animation-name: fade-in;
  animation-timing-function: ease-in-out;
  animation-duration: 1.2s; */

  transition: 0.8s ease-out;
  overflow-x: hidden;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection,
a::selection,
em::selection,
span::selection,
li::selection,
div::selection,
img::selection {
  background-color: var(--select-color);
}

br {
  user-select: none;
}

/* ------------------- */
/*    RIGHT pannel     */
/* ------------------- */
#right-pannel {
  padding: 15px 15px;
  background-color: var(--right-pan-color);
  padding-left: 7%;
  order: 1;
}

h1 {
  text-shadow: var(--text-shadow);
  position: relative;
}

p {
  max-width: 90%;
  margin-bottom: 6%;
}

h3,
h4 {
  margin: 6px 0px;
}

@keyframes interlayer-anim {
  100% {
    transform: scaleX(1);
  }
}

.interlayer {
  background: var(--right-pan-address-color);
  min-height: 2px;
  max-width: 150px;
  border-radius: 20px;
  animation: interlayer-anim 3s ease-in-out forwards;
  transform: scaleX(0);
}

.adresse {
  color: var(--right-pan-address-color);
}

.txt-block {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: border 0.5s;
  position: relative;
}

.txt-block:hover {
  border-top: 2px solid var(--right-pan-address-color);
  border-bottom: 2px solid var(--right-pan-address-color);
  transition: border 2s 0.5s;
}

/* ----------------------------- */
/* ------- logos ents ---------- */
/* ----------------------------- */
.ents-logos:hover:after {
  transform: scale(1);
  transition: 2s 1s;
}

.ents-logos:after {
  content: var(--logo-ent);
  position: absolute;
  bottom: 15%;
  transform: scale(0);
  left: 70%;
  transition: 1.2s 0.2s;
}

/* ------------------- */
/*    LEFT pannel     */
/* ------------------- */
#left-pannel {
  display: flex;
  flex-direction: column;
  color: var(--font-color-left-pannel);
  background: var(--left-pan-color);
  padding-left: 7%;
  padding-bottom: 30px;
  order: 2;
}

#pp {
  user-select: none;
  box-shadow: var(--pp-shadow);
  border-radius: 25px;
  transition: transform 2s;
  height: 200px;
  min-height: 200px;
  width: 200px;
  text-align: center;
  line-height: 190px;
  min-width: 200px;
}

#left-pannel li {
  margin: 8px 0px 8px 0%;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-color-left-pannel);
}

#left-pannel ul {
  margin-top: 10%;
}

#perso-adress:hover {
  cursor: pointer;
}

#logo-ctn {
  margin-top: 20%;
}

#linkedin-logo {
  height: 35px;
  margin: 0 8% 0 7%;
  padding: 0 5px; /* padding serve here for anim */
}

#gh-logo {
  height: 35px;
}

/* ------------------- */
/*  Anim Logos shiny   */
/* ------------------- */
@keyframes shiny-logo {
  100% {
    background-position: 800px 0;
  }
}

.shiny:hover {
  cursor: pointer;
  animation-name: shiny-logo;
  animation-iteration-count: 1;
  animation-duration: 10000ms;
  background-image: -webkit-linear-gradient(
    top left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 45%,
    rgba(255, 255, 255, 0.5) 48%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.4) 52%,
    rgba(255, 255, 255, 0) 57%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 400px 300px;
  border-radius: 8px;
}

/* ------------------------------------------------------- */
/* context menu -------------------------------------------*/
/* ------------------------------------------------------- */
.context-menu {
  /* display: none; */
  position: absolute;
  z-index: 1;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
  border-radius: 10px;
  transform: scale(0);
  display: block;
  transition: transform 200ms ease-in-out;
}

.context-menu-active {
  transform: scale(1);
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu li {
  display: block;
  margin-bottom: 4px;
}

.context-menu a {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
  font-size: 1.05rem;
}

.context-menu a:hover {
  color: #fff;
  background-color: #0066aa;
}

.context-menu a:hover svg {
  stroke: #fff;
}

/* ------------------------------------------------------- */
/* hidden-panel -------------------------------------------*/
/* ------------------------------------------------------- */
.panel-open-left {
  transform: translateX(-30%);
  transition: 0.8s ease-out;
}

.panel-open-right {
  transform: translateX(30%);
  transition: 0.8s ease-out;
}

#hidden-panel {
  background: rgb(37, 37, 37);
  color: #6667;
  font-size: 0.875rem;
  height: 100%;
  position: absolute;
  right: -30%;
  top: 0;
  width: 30%;
  transition: 0.3s ease-out;
  opacity: 0;
  z-index: 1;
}

#changePanSide {
  font-weight: 600;
  color: rgb(175, 0, 0);
  top: 0;
  width: 80%;
  min-height: 2%;
  right: 5%;
  text-align: center;
  background-color: #eee;
  padding: 2% 2%;
  display: block;
  text-transform: uppercase;
  transition: color 0.5 s ease-out;
  box-shadow: 1px 1px 5px 0px rgba(71, 71, 71, 0.6);
  border-radius: 8px;
  padding-left: 13%;
  
}

#changePanSide:hover {
  color: #fff;
  background-color: rgb(105, 105, 105);
}
#arrow-right {
  opacity: 0;
}

#arrow-left {
  opacity: 1;
}


#hidden-panel a {
  color: #999;
  transition: color 0.3s ease-out;
}
#hidden-panel a:hover {
  color: #fff;
}

#hidden-panel label {
  color: #999;
  transition: color 0.3s ease-out;
}

#hidden-panel label:hover {
  color: #fff;
}

.hidden-panel-content {
  padding: 1em 10%;
}

.hidden-panel-nav {
  text-transform: uppercase;
}

.hidden-panel-nav ul {
  list-style: none;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.hidden-panel-nav li {
  padding: 0.25em 0;
  border-bottom: 1px solid #666;
  border-bottom: 1px solid rgba(102, 102, 102, 0.25);
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
}

.hidden-panel-text {
  line-height: 1.5;
}
.hidden-panel-text p {
  margin-bottom: 1.5em;
  font-size: 1.1rem;
}
.hidden-panel-text p:last-child {
  margin-bottom: 0;
}

#pannel-target {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  border-bottom: 1px solid #666;
  border-bottom: 1px solid rgba(102, 102, 102, 0.25);
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

#colorWell {
  margin-left: 15%;
  width: 30%;
}

/* ------------------------------------------------------- */
/* mobile nav bar -----------------------------------------*/
/* ------------------------------------------------------- */
.nav {
  max-height: 8%;
  width: 100%;
  max-width: 100vw;
  background-color: #ffffff;
  border: 3px solid rgba(0, 0, 0, 0.616);
  display: grid;
  order: 3;
  position: fixed;
  top: 0;
}

.nav > .nav-title {
  font-size: 1.4rem;
  color: #0066aa;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-links > svg {
  margin-left: 20px;
}

/* .nav > .nav-links:first-child {
  margin-left: 5px;
} */

.nav > .nav-links > svg:hover {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.nav > .nav-links > svg {
  padding-bottom: 2px;
  border-radius: 10px;
  width: 11%;
}

/* ------------------------------------------------------- */
/* media queries / responsive : for big or desktop screen  */
/* ------------------------------------------------------- */

@media screen and (min-width: 800px) {
  h1::before {
    color: red;
    content: "2";
  }

  body {
    flex-direction: row-reverse;
  }

  .nav {
    border-radius: 0px 0px 15px 15px;
    position: absolute;
    opacity: 0;
  }

  #left-pannel {
    border-radius: 20px 0px 0px 20px;
    padding-left: 0%;
    min-width: 35%;
  }

  #logo-ctn {
    margin-left: 6%;
  }

  #right-pannel {
    border-radius: 0 20px 20px 0;
    padding: 15px 25px;
  }
}

@media screen and (min-width: 1250px) {
  h1::before {
    color: red;
    content: "3";
  }

  body {
    font-size: 1.1rem;
  }

  #left-pannel {
    min-width: 400px;
  }

  #logo-ctn {
    margin-left: 3%;
  }

  #right-pannel {
    max-width: 750px;
  }

  #hidden-panel {
    opacity: 0;
    right: -20%;
    width: 30%;
  }

  .panel-open-left {
    transform: translateX(-20%);
  }
}
